{% extends "_base.html" %}

{% block title %}Under Construction{% endblock %}

{% block content %}
<section class="under-construction">
    <div class="container">
        <h1 class="under-construction__title">🚧 Under Construction 🚧</h1>
        <p class="under-construction__message">
            We're working hard to bring you something awesome!<br>
            Check back soon to see what we've been building. 🔧✨
        </p>
        <p class="under-construction__footer-note">
            – The Trickie Team
        </p>
    </div>
</section>
{% endblock %}
